.container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 300px;
    height: auto;
    background-color: #c12a21;
    padding: 16px;
    border-radius: 16px;
    
}
.box img{
    width: 100%;
    height:220px;
    border-radius: 10px;
}
.box h2{
    color: #fff
}
.box p{
    color:#fff
}
.btn{
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #c12a21;
    border-radius: 10px;
}